*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 20px;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.info:nth-child(even){
    grid-template-columns: 60px 1fr 1fr;
}

.info:nth-child(odd){
    grid-template-columns: 1fr 1fr 60px;
}

.info .avatar{
    grid-row-start: span 2;
}

.info span{
    text-wrap: nowrap;
    grid-column-start: span 2;
}

.info:nth-child(even) span{
    text-align: left;
}

.info:nth-child(odd) span{
    text-align: right;
}

.info:nth-child(even) .avatar{
    justify-self: end;
}

.span-item{
    background-color: #ffb6c1;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    margin: 5px;
}

.span-item:nth-child(odd){
    background-color: #add8e5;
    border-radius: 10px 10px 0px 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}